/*
 *  1.0. Mixins
*/
@media screen and (max-width: 767px) {
  .blog-item:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.blog-item__image {
  display: block;
}
.blog-item__meta {
  color: var(--color-text-main);
}
.blog-item__meta span:not(:last-child):after {
  content: "|";
  margin: 0 0.3125rem;
  opacity: 0.5;
}
.blog-tags {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.mon-panier .featured-blog__posts {
  margin-top: var(--spacer-6);
  margin-bottom: var(--spacer-6);
}

.mon-panier .featured-blog__posts .blog-item__title-holder a {
  font-family: var(--font-stack-headings);
}