/*
 *  1.0. Mixins
*/
.article--indent-for-social {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-areas: "content social";
  gap: 5rem;
}
@media screen and (max-width: 1023px) {
  .article--indent-for-social {
    grid-template-areas: "content" "social";
    gap: 0;
    grid-template-columns: 100%;
  }
}
.article__content {
  grid-area: content;
}
.article__meta {
  grid-area: social;
  position: relative;
}
.article__meta__sticky {
  position: sticky;
  top: 1.25rem;
}
html[dir=rtl] .article__meta__sticky {
  right: 0;
}
html[dir=ltr] .article__meta__sticky {
  left: 0;
}
.article__meta-tags .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}
.article__meta-social + .article__meta-tags {
  margin-top: var(--gutter-large);
}
.article__meta .social-icons svg path {
  fill: var(--color-text-main);
  transition: all 100ms linear;
}
.no-touchevents .article__meta .social-icons a:hover svg path {
  fill: var(--color-accent-main);
}
.article__intro {
  margin-bottom: var(--gutter-large);
}
.article__featured-image {
  position: relative;
  text-align: center;
  margin-top: var(--gutter-large);
}
.article__featured-image svg {
  max-height: 25rem;
}

.mon-panier .breadcrumb-main {
  display: none;
}

.mon-panier .main-article__title-wrapper {
  margin-top: var(--spacer-6);
  text-align: center;
}

.mon-panier .main-article__content {
  margin-top: var(--spacer-3);
}

.mon-panier .article__meta {
  display: none;
} 

.mon-panier .article-navigation__header {
  font-size: var(--text-size-md);
  text-align: center;
  margin-top: var(--spacer-6);
  margin-bottom: 0;
}

.mon-panier .blog-item__title-holder {
  font-family: var(--font-stack-headings);
}